In [ ]:
#install kaggle
#!pip install kaggle

In [ ]:
!mkdir .kaggle

mkdir: cannot create directory â€˜.kaggleâ€™: File exists

In [ ]:
import json
token = {"username":"xxx","key":"xxxx"}
with open('/content/kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [ ]:
!cp /content/kaggle/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!kaggle config set -n path -v{/content/}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content/}

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
#search for the dataset 
!kaggle datasets list -s planets-dataset

ref                                               title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
emirhanai/planets-and-moons-dataset-ai-in-space   Planets and Moons Dataset - AI in Space ðŸŒŒ ðŸ›° â˜„ ðŸ”­   46MB  2023-03-15 04:45:03            497         37  1.0
mrisdal/open-exoplanet-catalogue                  Open Exoplanet Catalogue                         123KB  2017-06-08 19:59:22           3828        169  0.8235294
eduardowoj/exoplanets-database                    Exoplanets Database                              281KB  2018-02-28 20:56:05           1484         58  0.8235294
iamsouravbanerjee/planet-dataset                  Planet Dataset                                    996B  2022-10-05 12:17:23           1799         72  1.0
nasa/kepler-exoplanet-search-results              Kepler Exoplanet Search Results                    1MB  2017-10-10 18:26:59          12089        706  0.8235294
adityamishraml/nasaexoplanets                     NASA Exoplanets                                  114KB  2023-02-15 18:12:58           1217         43  1.0
aradzhabov/earthquakes-solar-system-objects       Earthquakes <-?-> Solar System objects?            2MB  2017-04-22 21:42:59           1276         37  0.8235294
keplersmachines/kepler-labelled-time-series-data  Exoplanet Hunting in Deep Space                   56MB  2017-04-12 16:34:18          11429        530  0.8235294
ramjasmaurya/near-earth-objects-observed-by-nasa  Near earth objects observed by NASA(1900-2021)   934KB  2022-01-21 06:05:06            172         35  1.0
brsdincer/space-objects-around-black-holes-esa    Space Objects Around Black Holes / ESA           994MB  2021-07-03 22:50:01            142         14  0.875
scoleman/spacex-launch-data                       SpaceX Launch Data                                 2KB  2018-06-14 03:01:05           2067         62  0.7058824
muhakabartay/markmarkohkeplerconfirmedplanets     Kepler Confirmed Planets                         521KB  2019-12-26 20:08:20            381         22  0.88235295
codebreaker619/mars-crater-study-dataset          Mars Crater Study Dataset                          4MB  2021-01-11 06:25:49            263         28  0.9411765
imsanketsingh/all-planets-dataset                 All Planets Dataset                               18KB  2022-11-22 18:07:26             37          1  0.7058824
ilyamarchenko/full-exoplanet-catalog              Exoplanets confirmed & candidates                809KB  2021-04-29 13:17:01            269         11  0.8235294
mpwolke/cusersmarildownloadseormandycsv           Eugene Ormandy                                    462B  2021-06-18 20:35:25             21         20  1.0
taiworoqeeb/kaggleinputplanetsdataset             kaggle/input/planets-dataset                       7MB  2020-09-17 22:18:52              3          1  0.3125
arashnic/exoplanets                               NASA Exoplanet Dataset                             1MB  2022-06-21 15:54:15            115          9  0.9705882
arashnic/planets                                  NASA Kepler Objects Dataset                        1MB  2020-12-30 22:19:43            105         10  0.9117647
jaredsavage/solar-system-major-bodies-data        Solar System major bodies data                    22KB  2022-07-07 11:49:16            631         20  1.0

In [ ]:
#download dataset
!kaggle datasets download -d nikitarom/planets-dataset -p /content/

Downloading planets-dataset.zip to /content
100% 1.50G/1.50G [01:26<00:00, 20.4MB/s]
100% 1.50G/1.50G [01:26<00:00, 18.5MB/s]

In [ ]:
#unzip the dataset
%%capture
!unzip \*.zip

In [ ]:
#Import necessary libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.preprocessing.image import load_img, img_to_array
from sklearn.metrics import fbeta_score
from tqdm import tqdm
import cv2
from PIL import Image
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras import optimizers

from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import fbeta_score
import time
%matplotlib inline

pal = sns.color_palette()

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

In [ ]:
#check present working directory
! pwd

/content

In [ ]:
#read the train classes csv file and save a copy
df_train_classes= pd.read_csv('/content/planet/planet/train_classes.csv')
df_train = df_train_classes.copy()
df_train.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [ ]:
#read the sample submission classes csv file and save a copy
df_test_classes = pd.read_csv('/content/planet/planet/sample_submission.csv')
df_test = df_test_classes.copy()
df_test.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [ ]:
#total train data points
!ls /content/planet/planet/train-jpg | wc -l

40479

In [ ]:
test1 = !ls /content/planet/planet/test-jpg | wc -l
test2 = !ls /content/test-jpg-additional/test-jpg-additional | wc -l
assert df_test.shape[0] == float(test1[0])+float(test2[0])

In [ ]:
#list of unique labels/tags 
labels = df_train['tags'].apply(lambda x: x.split(' '))
from collections import Counter, defaultdict
counts = defaultdict(int)
for l in labels:
    for l2 in l:
        counts[l2] += 1
               
tag_list=list(counts.keys())
tag_list

['haze',
 'primary',
 'agriculture',
 'clear',
 'water',
 'habitation',
 'road',
 'cultivation',
 'slash_burn',
 'cloudy',
 'partly_cloudy',
 'conventional_mine',
 'bare_ground',
 'artisinal_mine',
 'blooming',
 'selective_logging',
 'blow_down']

In [ ]:
#total unique labels
len(tag_list)

17

In [ ]:
#assign numerical value to each label using dictionary
label_map = {i:j for j, i in enumerate(tag_list)}
label_map

{'haze': 0,
 'primary': 1,
 'agriculture': 2,
 'clear': 3,
 'water': 4,
 'habitation': 5,
 'road': 6,
 'cultivation': 7,
 'slash_burn': 8,
 'cloudy': 9,
 'partly_cloudy': 10,
 'conventional_mine': 11,
 'bare_ground': 12,
 'artisinal_mine': 13,
 'blooming': 14,
 'selective_logging': 15,
 'blow_down': 16}

In [ ]:
# One hot encode the training labels. Convert the images into pixels and resize them
X_train, Y_train = [], []
for img, label in tqdm(df_train.values, miniters = 1000):
  target = np.zeros(17)
  for tag in label.split(' '):
    target[label_map[tag]]=1
  X_train.append(cv2.resize(cv2.imread('/content/planet/planet/train-jpg/{}.jpg'.format(img)), (64,64)))
  Y_train.append(target)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 40479/40479 [00:54<00:00, 736.10it/s]

In [ ]:
#convert the test images to pixels and resize them as well
X_test=[]
for img, label in tqdm(df_test[:40669].values, miniters = 1000):
  X_test.append(cv2.resize(cv2.imread('/content/planet/planet/test-jpg/{}.jpg'.format(img)), (64,64)))
for img, label in tqdm(df_test[40669:].values, miniters = 1000):
  X_test.append(cv2.resize(cv2.imread('/content/test-jpg-additional/test-jpg-additional/{}.jpg'.format(img)), (64,64)))
x_test = np.array(X_test, np.float16)/255

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 40669/40669 [00:51<00:00, 782.81it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20522/20522 [00:25<00:00, 803.74it/s]

In [ ]:
#Confirm the dimensions
len(X_test), len(X_train), len(Y_train)

(61191, 40479, 40479)

In [ ]:
import sys
sys.getsizeof(X_train)

351064

In [ ]:
#Change lists to numpy arrays and normalize
x_train = np.array(X_train, np.float16)/255
y_train = np.array(Y_train, np.uint8)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size = 0.2, shuffle = True, random_state = 1)

print(x_train.shape, y_train.shape, x_val.shape, y_val.shape)

(32383, 64, 64, 3) (32383, 17) (8096, 64, 64, 3) (8096, 17)

In [ ]:
#delete X_test, X_train, Y_train to free up space
del(X_test, X_train, Y_train)

In [ ]:
#Split the data into 5 folds and train on 4 folds while validating on 1 fold

yfull_test = []
yfull_train = []
X_train_, X_val_, Y_train_, Y_val_ = train_test_split(x_train, y_train, test_size = 0.2, random_state = 1)

In [ ]:
#Build a CNN model
from keras.applications.vgg19 import VGG19
from keras.applications.vgg16 import VGG16
from keras.optimizers import Adam, SGD

input_size = 64
input_channels = 3
batch_size = 128

# Add model parameters including dropout, layers and activation function
base_model = VGG19(include_top=False,
                   weights='imagenet',
                   input_shape=(input_size, input_size, input_channels))

model = Sequential()
model.add(BatchNormalization(input_shape=(input_size, input_size, input_channels)))

model.add(base_model)
model.add(Flatten())
model.add(Dropout(0.5))

model.add(Dense(17, activation='sigmoid'))

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg19/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
80134624/80134624 [==============================] - 4s 0us/step

In [ ]:
# define model training optimizer parameters
opt  = SGD(lr=0.1)
model.compile(loss='binary_crossentropy',optimizer=opt, metrics=['accuracy'])
callbacks = [EarlyStopping(monitor='val_loss', patience=2, verbose=0),
                ModelCheckpoint(filepath='weights/best_weights',
                                 save_best_only=True,
                                 save_weights_only=True)]
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 batch_normalization (BatchN  (None, 64, 64, 3)        12
 ormalization)

 vgg19 (Functional)          (None, 2, 2, 512)         20024384

 flatten (Flatten)           (None, 2048)              0

 dropout (Dropout)           (None, 2048)              0

 dense (Dense)               (None, 17)                34833

=================================================================
Total params: 20,059,229
Trainable params: 20,059,223
Non-trainable params: 6
_________________________________________________________________

/usr/local/lib/python3.9/dist-packages/keras/optimizers/optimizer_v2/gradient_descent.py:114: UserWarning:

The `lr` argument is deprecated, use `learning_rate` instead.

In [ ]:
gc.collect()

176

In [ ]:
#Try a combination of epoch lengths and learning rates

model.fit(x = X_train_, y= Y_train_, validation_data=(X_val_, Y_val_),batch_size=64,verbose=2, epochs=10,callbacks=callbacks,shuffle=True)

Epoch 1/10
405/405 - 54s - loss: 0.1564 - accuracy: 0.6879 - val_loss: 0.1223 - val_accuracy: 0.7661 - 54s/epoch - 134ms/step
Epoch 2/10
405/405 - 40s - loss: 0.1163 - accuracy: 0.7026 - val_loss: 0.1123 - val_accuracy: 0.7928 - 40s/epoch - 99ms/step
Epoch 3/10
405/405 - 44s - loss: 0.1077 - accuracy: 0.7048 - val_loss: 0.1058 - val_accuracy: 0.7880 - 44s/epoch - 108ms/step
Epoch 4/10
405/405 - 40s - loss: 0.1009 - accuracy: 0.7110 - val_loss: 0.1008 - val_accuracy: 0.7505 - 40s/epoch - 100ms/step
Epoch 5/10
405/405 - 43s - loss: 0.0961 - accuracy: 0.6875 - val_loss: 0.1006 - val_accuracy: 0.7888 - 43s/epoch - 106ms/step
Epoch 6/10
405/405 - 40s - loss: 0.0917 - accuracy: 0.6840 - val_loss: 0.0994 - val_accuracy: 0.7079 - 40s/epoch - 100ms/step
Epoch 7/10
405/405 - 40s - loss: 0.0881 - accuracy: 0.6586 - val_loss: 0.1020 - val_accuracy: 0.7382 - 40s/epoch - 99ms/step
Epoch 8/10
405/405 - 40s - loss: 0.0848 - accuracy: 0.6546 - val_loss: 0.1084 - val_accuracy: 0.6897 - 40s/epoch - 99ms/step

In [ ]:
p_val = model.predict(X_val_, batch_size = 64, verbose=2)
print(fbeta_score(Y_val_, np.array(p_val) > 0.2, beta=2, average='samples')) #Check the model performance on the validation set

102/102 - 3s - 3s/epoch - 29ms/step
0.9118607774585458

In [ ]:
#import and initialise Garbage Collector
import gc
gc.collect()

2267

In [ ]:
#make predictions
#predictions = model.predict(x_test, batch_size = 32)
#predictions

In [ ]:
#Assign the predictions to the tags column of the df_test data frame
#df_test['tags'] = preds 
df_test.to_csv('asif_Submission.csv', index = False) #Export to csv
df_test.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [ ]:

#download submission file
from google.colab import files
files.download('asif_Submission.csv')